<main class="container">
  <div class="card mt-5">
    <header class="card-header">

      <h1 class="main-title">
        Курс в банках України <small>{{currencyInfo_EUR_to_UAH?.date}}</small>
      </h1>
      <table>
        <tbody>
        <tr>
          <td>
            USD
          </td>
          <td>
            <div>{{currencyInfo_USD_to_UAH?.result}}
            </div>
          </td>
        </tr>
        <tr>
        <tr>
          <td class="uppercase condensed">
            EUR
          </td>
          <td>
            <div>{{currencyInfo_EUR_to_UAH?.result}}
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </header>
    <section class="card-body">
      <app-child [amount]="amountFirst"
                 (newAmountEvent)="amountFirst=$event;updateData('from')"
                 [currency]="currencyFirst"
                 (newCurrencyEvent)="currencyFirst=$event;updateData('from')"
      />
      <app-child [amount]="amountSecond"
                 (newAmountEvent)="amountSecond=$event;updateData('to')"
                 [currency]="currencySecond"
                 (newCurrencyEvent)="currencySecond=$event;updateData('to')"
      />
    </section>
  </div>


</main>
