<div class="input-group flex-nowrap wrapper">
    <input class="form-control" type="number"
         [(ngModel)]="amount"
         (ngModelChange)="newAmountEvent.emit(amount)"
         min="0"
         placeholder="amount"
  >
  <select class="form-select" aria-label="Default select example" [(ngModel)]="currency"
          (ngModelChange)="newCurrencyEvent.emit(currency)">
    <option value="" disabled>Choose currency</option>
    <option value="UAH">UAH</option>
    <option value="USD">USD</option>
    <option value="EUR">EUR</option>
  </select>

</div>


